.border{
    border: 2px solid red;
    margin: 3px;
 }
 .flex{
    display: flex;
 }
 .justify-center{
    justify-content: center;
 }
 .items-center{
    align-items: center;
 }
 .bg-black{
    background-color: black;
    color: white;
 }
 .invert{
    filter: invert(1);
 }
 .bg-grey{
    background-color: #121212;
 }
 .rounded{
    border-radius: 7px;
 }
 .m-1{
    margin: 5px;
 }
 .p-1{
    padding: 10px;
 }

/* WebKit-based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
   width: 12px; /* Width of the scrollbar */
   height: 12px; /* Height of the scrollbar for horizontal scrolling */
}

::-webkit-scrollbar-track {
   background: #2c2c2c; /* Dark background color for the track */
}

::-webkit-scrollbar-thumb {
   background-color: #555; /* Darker thumb color */
   border-radius: 10px; /* Roundness of the scrollbar thumb */
   border: 3px solid #2c2c2c; /* Padding around the thumb to match track background */
}

::-webkit-scrollbar-thumb:hover {
   background-color: #888; /* Lighter thumb color when hovered */
}

/* Firefox */
html {
   scrollbar-width: thin; /* Thin scrollbar width */
   scrollbar-color: #555 #2c2c2c; /* Thumb color and track color */
}

/* Edge and IE */
body {
   -ms-overflow-style: scrollbar; /* Show scrollbars in Edge and IE */
}